Exercise 1

In [ ]:
#1
lst = []
list = len(lst)
print(list)
#2
names = ["Ayo", "Pelumi", "Ngozi", "Uche", "Hauwa", "Laraba", "Iroko"] 
#3
print(len(names))
#4
print(names[0])
print(names[3])
print(names[-1])

0
7
Ayo
Uche
Iroko

In [ ]:
#5
mixed_data_types = ['Omolola', '39', 1.6, 'married', 'Lagos. Nigeria']
#6
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
#7
print(it_companies)
#8
print(len(it_companies))
#9
print(it_companies[0], it_companies[3], it_companies[-1])
#10
it_companies[1] = 'Omatek'
print(it_companies)
#11
it_companies.append('Unix')
print(it_companies)
#12
it_companies.insert(4, 'Huawei')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook Apple Amazon
['Facebook', 'Omatek', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Omatek', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Unix']
['Facebook', 'Omatek', 'Microsoft', 'Apple', 'Huawei', 'IBM', 'Oracle', 'Amazon', 'Unix']

In [44]:
#13
it_companies[0] = it_companies[0].upper()
print(it_companies)

['FACEBOOK', 'Omatek', 'Microsoft', 'Apple', 'Huawei', 'IBM', 'Oracle', 'Amazon', 'Unix']

In [45]:
#14
it_companies ='#: '.join(it_companies)
print(it_companies)

FACEBOOK#: Omatek#: Microsoft#: Apple#: Huawei#: IBM#: Oracle#: Amazon#: Unix

In [46]:
#15
print('IBM' in it_companies)

True

In [53]:
#16
it_companies = ['FACEBOOK', 'Omatek', 'Microsoft', 'Apple', 'Huawei', 'IBM', 'Oracle', 'Amazon', 'Unix']
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'FACEBOOK', 'Huawei', 'IBM', 'Microsoft', 'Omatek', 'Oracle', 'Unix']

In [54]:
#17
it_companies.sort(reverse=True)
print(it_companies)

['Unix', 'Oracle', 'Omatek', 'Microsoft', 'IBM', 'Huawei', 'FACEBOOK', 'Apple', 'Amazon']

In [ ]:
#18
it_companies = ['FACEBOOK', 'Omatek', 'Microsoft', 'Apple', 'Huawei', 'IBM', 'Oracle', 'Amazon', 'Unix']
print(it_companies[:3])

['FACEBOOK', 'Omatek', 'Microsoft']

In [79]:
#19
print(it_companies[6:])

['Oracle', 'Amazon', 'Unix']

In [80]:
#20
print(it_companies[4])

Huawei

In [81]:
#21
it_companies.remove('FACEBOOK')
print(it_companies)

['Omatek', 'Microsoft', 'Apple', 'Huawei', 'IBM', 'Oracle', 'Amazon', 'Unix']

In [82]:
#22
it_companies.remove('Huawei'),it_companies.remove('IBM')
print(it_companies)

['Omatek', 'Microsoft', 'Apple', 'Oracle', 'Amazon', 'Unix']

In [83]:
#23
it_companies.pop()
print(it_companies)

['Omatek', 'Microsoft', 'Apple', 'Oracle', 'Amazon']

In [ ]:
#24
it_companies.clear()
print(it_companies)

[]

In [85]:
#25
del it_companies

In [98]:
#26
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
fullstack = front_end + back_end
print(fullstack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
fullstack.insert(5, 'SQL'), fullstack.insert(5, 'Python')
print(fullstack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'SQL', 'Python', 'Node', 'Express', 'MongoDB']

Exercise 2

In [119]:
#1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(min(ages))
print(max(ages))
ages.insert(2,19), ages.insert(-1,26)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [130]:
import statistics
print(statistics.median(ages))
median = (ages[5] + ages[6])/2
print(median)

24.0
24.0

In [ ]:
# average  is also mean
print(statistics.mean(ages))

22.75

In [137]:
range = (max(ages) - min(ages))
print(range)

7

In [142]:
a = min(ages) - statistics.mean(ages)
b = max(ages) - statistics.mean(ages)
print(a, b)
print(a == b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)

-3.75 3.25
False
False
True
False
True
True

In [158]:
countries = ['Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',];
print(countries[96])

Lesotho

In [185]:
countries1 = countries[:96]
countries2 = countries[96:]
print(countries1)
print(countries2)
print(len(countries1))
print(len(countries2))

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
96
97

In [186]:
countries1.append('Sudan')
print(countries1)
print(countries2)
print(len(countries1))
print(len(countries2))
print(len(countries1) == len(countries2))

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Sudan']
['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
97
97
True

In [188]:
New_countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
c1, c2, c3, *Scandic_countries = New_countries
print(c1)
print(c2)
print(c3)
print(Scandic_countries)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

Tuple Exercises: Level 1

In [ ]:
tpl = () #1
print(tpl)
sisters = ('Joy', 'Love', 'Peace') #2
brothers = ('John', 'Hope', 'Faith')
siblings = sisters + brothers #3
print(len(siblings)) #4
parents = ('Lydia', 'Samuel') #5
family_members = siblings + parents 
print(family_members)

()
6
('Joy', 'Love', 'Peace', 'John', 'Hope', 'Faith', 'Lydia', 'Samuel')

Tuple Exercises: Level 2

In [ ]:
j, l, p, j, h, f, ly, s = family_members #1
print(j)
print(l)
print(p)
print(j)
print(h)
print(f)
print(ly)
print(s)
fruits = ('Kiwi', 'Avocado', 'Guava') #2
vegetables = ('Spinach', 'Brocolli', 'Cauliflower')
animal_products = ('milk', 'cheese', 'beef')
food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp) #3
print(food_stuff_lt)
print(food_stuff_lt[4]) #4
print(food_stuff_lt[:3] + food_stuff_lt[6:] ) #5
del food_stuff_tp #6
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden') #7
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

John
Love
Peace
John
Hope
Faith
Lydia
Samuel
['Kiwi', 'Avocado', 'Guava', 'Spinach', 'Brocolli', 'Cauliflower', 'milk', 'cheese', 'beef']
Brocolli
['Kiwi', 'Avocado', 'Guava', 'milk', 'cheese', 'beef']
True
False
True

Set exercises: Level 1

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies)) #1
it_companies.add('Twitter') #2
print(it_companies)
it_companies.update(['Omatek', 'Zinox', 'Meganet']) #3
print(it_companies)
it_companies.remove('Zinox')
print(it_companies)
it_companies.discard('IBM')
print(it_companies)
#Remove and discard seems thesame

7
{'IBM', 'Twitter', 'Amazon', 'Oracle', 'Google', 'Facebook', 'Microsoft', 'Apple'}
{'Twitter', 'Apple', 'IBM', 'Oracle', 'Facebook', 'Zinox', 'Microsoft', 'Google', 'Omatek', 'Meganet', 'Amazon'}
{'Twitter', 'Apple', 'IBM', 'Oracle', 'Facebook', 'Microsoft', 'Google', 'Omatek', 'Meganet', 'Amazon'}
{'Twitter', 'Apple', 'Oracle', 'Facebook', 'Microsoft', 'Google', 'Omatek', 'Meganet', 'Amazon'}

Set Exercises: Level 2

In [71]:
AB = A.union(B) #1
print (AB)
print(A.intersection(B)) #2
print(A.issubset(B)) #3
print(A.isdisjoint(B)) #4
print(A.union(B)) #5
print(B.union(A))
print(A.symmetric_difference(B)) #6
del A
del B

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

Set Exercise: Level 3

In [ ]:
ages = set(age) #1
print(ages)
# String uses "" or '' e.g 'name', list uses [] e.g [1,2,3], for tuple () e.g (1, 2, 3) and set {} e.g {1,2,3}
print(type('name'))
print(type([1,2,3]))
print(type((1,2,3)))
print(type({1,2,3}))
sentence = 'I am a teacher and I love to inspire and teach people' #3
w = sentence.split()
print(w)
print(len(w))

{19, 22, 24, 25, 26}
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
12